@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i');

body {
    background-color: #e4e4e4;
    size: 100%
}

h1 {
    font-family: 'Open Sans' , sans-serif;
    font-size: 66px;
}

h2 {
    font-family: 'Open Sans' , sans-serif;
    font-size: 40px;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 34px;
}

h4 {
    font-family: 'Open Sans' , sans-serif;
    font-size: 22px
}

a {
    text-decoration: underline;
    text-decoration-color: #2196F3;
}

a:visited {
    color: #2196F3;
}

a:hover {
    color: #0D47A1;
    text-decoration-color: #0D47A1;
}

h1,h2,h3,h4,h5,h6,a {
    text-align: center;
}

footer {
    display: block;
}